#showcase{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
#showcase>div{
    border-style: solid;
    border-radius: 15px;
    height: 150px;
    width:300px;
    max-width: 300px;
}
#showcase>div>h1{
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    margin: 0px;
    padding:0px;
    margin-right: 10px;
    margin-left: 10px;
}
#showcase >div >p{
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    margin:0px;
    
}

